{% extends 'tasks/base.html' %}


{% block title %} lista de tarefas {% endblock %}

{% block content %}
    <div class="offset-1 col-10 row">
        <h1 class="col-12">Lista tarefas</h1>
        <div class="col-lg-3 col-md-4 add-div">
            <i class="fas fa-plus"></i> Adicionar tarefa
        </div>
        <div class="col-md-7 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite a tarefa"/>
            <span class="fas fa-search"></span>
        </div>
        <ul class="task-list col-12 row">
            <li class="task-item col-12">
                <span>Titulo da tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
            <li class="task-item col-12">
                <span>Titulo da tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
            <li class="task-item col-12">
                <span>Titulo da tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
        </ul>
    </div>
{% endblock %}